<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Update User</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="background-color: rgb(143, 214, 213);">

  <!-- ======= Header ======= -->
  <%- include("../../utils/header")%>
  
 
  <%- include("../../utils/side")%>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add User</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="user_dashboard">Home</a></li>
          <li class="breadcrumb-item">User Manager</li>
          <li class="breadcrumb-item active">Update User</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="card" style="background-color: whitesmoke;">
      <div class="card-body">
        <h5 class="card-title">Please Add The Following Details..</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" action="user_update_post" method="post">
            <input type="hidden" name="user_id" value="<%=user_data.user_id%>">
          <div class="col-md-6">
            <label for="name" class="col-sm-2 col-form-label">Full Name</label>
              <input type="text" class="form-control" name="name" id="name" value="<%=user_data.name%>">
          </div>
          <div class="col-md-6">
            <label for="mobile" class="col-sm-4 col-form-label">Mobile Number</label>
            <input type="text" class="form-control" id="mobile" name="mobile" value="<%=user_data.mobile%>">
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">User Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%=user_data.email%>">
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="col-md-6">
            <label for="gender" class="form-label">Gender</label>
            <input type="text" class="form-control" id="gender" name="gender" value="<%=user_data.gender%>">
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address"value="<%=user_data.address%>">
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" value="<%=user_data.city%>">
          </div>
          <div class="col-md-6">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state" value="<%=user_data.state%>">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update User</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

      </div>
    </div>

  </div>

  </main><!-- End #main -->

  <%- include("../../utils/footer")%>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>