<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>User Manager</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .delete-buttton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.delete-buttton:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}
.delete-buttton:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}

.update-button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.update-button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.update-button:hover .icon {
  transform: translate(4px);
}

.update-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.update-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}


.block-button {
 display: inline-block;
 padding: 0.9rem 2.8rem;
 font-size: 16px;
 font-weight: 700;
 /* color: white;
 background-color: rgb(248, 125, 54); */
 color: black;
 background-color: transparent;
 border: 3px solid rgb(252, 70, 100);
 cursor: pointer;
 position: relative;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
 border-radius:50vh;
 scale: .8;
}

.block-button::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(252, 70, 100);
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.block-button:hover::before {
 transform: translateX(0);
}

  </style>
</head>

<body>
  <%- include("../../utils/header")%>
  
 
  <%- include("../../utils/side")%>
  



  

  <main id="main" class="main">
   
    <div class="pagetitle">
      <h1>View All Users Added By You</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="user_dashboard">Home</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Search User</h5> 

        <!-- General Form Elements -->
        <div class="card">
          <div class="card-header">
        <form class="row g-3 needs-validation" novalidate action="view_users" method="get">
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">User Name</label>
            <input type="text" class="form-control" id="validationCustom01" value="" name="filtername" placeholder="Search by Vendor Name">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
    
          <div class="col-md-3">
            <label for="validationCustom02" class="form-label">Mobile Number</label>
            <input type="number" class="form-control" id="validationCustom02" value="" name="filtermobile" placeholder="Search by Mobile Number">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-5">
            <label for="validationCustom02" class="form-label">User Email</label>
            <input type="email" class="form-control" id="validationCustom02" value="" name="filteremail" placeholder="Search by Email">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
      
        
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form><!-- End Custom Styled Validation -->
        </div></div>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h1 class="card-title">User Manager</h1>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Id</th>
                    <th scope="col">Wallet</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Update</th>
                  </tr>
                </thead>
                
                <tbody>
                  <%let i=1; %>
                  <% for (let dataobj of user_data){
                   %>
                  <tr>
                    <th scope="row"><%=i%></th>
                    <td><%=dataobj.name%></td>
                    <td><%=dataobj.email%></td>
                    <td><%=dataobj.mobile%></td>
                    <td><%=dataobj.user_id%></td>
                    <td><%=dataobj.wallet%></td>
                    <td><%=dataobj.gender%></td>
                    
                    <td>
                      
                      <button class="button update-button">
                        <a href="update_user?user_id=<%=dataobj.user_id%>" style="text-decoration: none; color: white;">Update</a>
                        <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </td>

                  </tr>
                <%
                i=i+1;
              
              }%>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
  </main><!-- End #main -->
  
  <%- include("../../utils/footer")%>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>